html, 
body {
  overflow: hidden;
}

body {
  background-color: #f8f8f8;
  background-image: url(../../../login/images/login_bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo {
  margin: 40px auto;
  display: block;
}

.logo img {
  display: block;
  margin: 0 auto;
}


#content {
  width: 95%;
  margin: 0 auto;
  padding: 5%;
  background-color: white;
  box-shadow: 0 0 20px #0000001a;
  position: relative;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

h2::after {
  content: '';
  width: 50px;
  display: block;
  height: 5px;
  background-color: #d2081e;
  margin: 10px auto 0;
}


label {
  display: block;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 5px;
  font-weight: 500;
}

form {
  margin-top: 20px;
}

form>button {
  cursor: pointer;
  border-radius: 5px;
  background-color: #d2081e;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  height: 50px;
  margin-top: 30px;
}

input {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  height: 50px;
  padding-left: 10px;
  font-weight: 500;
  background-color: #fdfdfd;
  border: 1px solid rgb(209, 209, 209);
}

.id_outer,
.name_outer {
  float: left;
  width: 48%;
}

.id_outer {
  margin-right: 2%;
}

.name_outer {
  margin-left: 2%;
}

input:focus {
  outline: none;
  border: 1px solid rgb(131, 131, 131);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.103);
}

#content form>div {
  margin-bottom: 20px;
}

#content .lastlist {
  margin-top: 40px;
  overflow: hidden;
}

#content .lastlist li {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
}

#content .lastlist.findform li {
  width: 50%;
}

#content .lastlist li:not(:last-of-type) {
  border-right: 1px solid #ccc;
}

#content .lastlist li a {
  text-align: center;
  display: block;
  font-weight: 300;
}

#content .lastlist li:last-of-type a {
  font-weight: 500;
}

button.find {
  background-color: #004f98;
}

#loadtext {
  font-size: 18px;
  text-align: center;
}

.suc {
  font-weight: 300;
  margin-top: 40px;
}

.suc span {
  font-weight: 500;
}

.tem {
  font-size: 16px;
  font-weight: 300;
  margin: 15px 0;
}

.tem span {
  font-weight: bold;
  font-size: 25px;
  padding-left: 10px;
}

.wran {
  font-weight: 500;
  color: #d2081e;
  margin-top: 30px;
}

.find_list {
  overflow: hidden;
  margin-bottom: 20px;
}

.find_list li {
  float: left;
  width: 50%;
}

.find_list li a {
  display: block;
  border-bottom: 5px solid #004f98;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 45px;
  transition: .2s ease-in-out;
}

.find_list li a.selected {
  background-color: #004f98;
  color: white;
}