.visual {
  background-image: url(../images/sub3/content3/visual.jpg);
}

#content .introduction img {
  width: 100%;
}

#content .con_nav>p {
  font-size: 1.3rem;
  color: black;
  text-align: justify;
  width: 80%;
  padding: 50px 0 35px;
  margin: 0 auto;
}

#content .con_nav>p span {
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

#content .core p,
.jobarea>p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: black;
  margin: 40px 0;
}

#content .core p span,
.jobarea>p span,
.oneyear>p span,
.program>p span {
  background: linear-gradient(to top, #f9ae005d 40%, transparent 40%) 0 -3px;
}


#content .core>div {
  height: 450px;
  position: relative;
}

#content .core>div>p {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  background-color: #d2081e;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.4);
}

#content .core ul {
  height: 100%;
}

#content .core li {
  width: 70px;
}


#content .core li:nth-of-type(1) {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#content .core li:nth-of-type(2) {
  position: absolute;
  top: 30%;
  right: 10%;
}

#content .core li:nth-of-type(3) {
  position: absolute;
  top: 30%;
  left: 10%;
}

#content .core li:nth-of-type(4) {
  position: absolute;
  bottom: 8%;
  left: 23%;
}

#content .core li:nth-of-type(5) {
  position: absolute;
  bottom: 8%;
  right: 23%;
}

#content .core li img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#content .core li p {
  text-align: center;
  color: #d2081e;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 20px 0 10px;
}

#content .jobarea {
  margin-bottom: 70px;
}

#content .jobarea ul {
  width: 91%;
  margin: 0 auto;
  overflow: hidden;
}

#content .jobarea ul img {
  width: 35%;
  display: block;
  margin: 10px auto;
}

#content .jobarea li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#content .jobarea dl {
  padding: 5px 5%;
  text-align: justify;
}

#content .jobarea dt {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: black;
  margin: 5px 0 10px;
}

#content .jobarea dd {
  height: 80px;
}







#content .oneyear>p,
.program>p {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 30px 0;
}



#content .oneyear ul {
  padding: 15px;
  width: 80%;
  margin: 0 auto;
}

#content .oneyear li {
  position: relative;
  margin: 10px auto 40px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

#content .oneyear li div {
  position: relative;
  top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #f9b000;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 100%;
  line-height: 30px;
  margin: 0 auto;
}

#content .oneyear dl {
  padding: 0 9% 30px;
  margin-top: 10px;
}

#content .oneyear dt {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 15px;
  color: black;
}

#content .oneyear dd {
  text-align: center;
  font-size: 1.1rem;
  line-height: 2rem;
}

#content .program {
  margin-bottom: 70px;
}


#content .program .swiper-slide {
  padding-bottom: 40px;
}

#content .program .swiper-slide>div {
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding-bottom: 10px;
  overflow: hidden;
}

#content .program img {
  width: 100%;
  display: block;
}

#content .program dl {
  margin: 0 auto;
  text-align: center;
}

#content .program dt {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  margin: 20px 0 40px;
}

#content .program dd {
  font-size: 1.1rem;
  margin: 15px 0;
}

#content .program dd:last-of-type {
  font-weight: 500;
}

#content a.register {
  display: block;
  width: 140px;
  height: 35px;
  border-radius: 30px;
  border: 2px solid #d2081e;
  box-sizing: border-box;
  color: white;
  font-size: 1.1rem;
  margin: 30px auto 20px;
  text-align: center;
  line-height: 28px;
  transition: all .2s ease-in-out;
  background-color: #d2081e;
}

.register i {
  margin-left: 20px;
}

#content .swiper-pagination-bullet-active {
  background-color: black;
}